<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook" />
	<property name="LOG_FILE" value="${LOG_FILE}" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<include resource="org/springframework/boot/logging/logback/file-appender.xml" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<appender name="FILE">
		<file>${LOG_FILE}</file>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_FILE}.$d{yyyy-MM-dd}.%i</fileNamePattern>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="ASYNC5000" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>5000</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
	</appender>

	<root level="INFO">
		<appender-ref ref="ASYNC5000" />
	</root>
</configuration>
